body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url('./Images/bgimg.jpg'); 
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh;
}
  
form {
  margin: 50px auto;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input, select, button {
  width: calc(100% - 20px);
  box-sizing: border-box;
  padding: 8px;
  margin-top: 5px;
}

button {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  margin-top: 20px;
}

#result label {
  display: inline-block;
  width: 100px;
}

#result input {
  width: calc(100% - 110px);
  box-sizing: border-box;
  padding: 8px;
}

select {
  width: calc(100% - 20px);
  display: inline-block; 
  margin-right: 5px; 
}

select:last-child {
  margin-right: 0; 
}

button {
  display: inline-block;
  width: calc(50% - 5px); 
  margin-right: 5px; 
}

button:last-child {
  margin-right: 0; 
}